@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(22, 24, 28);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(62, 65, 68);
}

html {
  overflow-y: scroll;
}

@media (max-width: 640px) {
  ::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  /* Para Firefox */
  html {
    scrollbar-width: none;
  }
  
  /* Para IE e Edge */
  body {
    -ms-overflow-style: none;
  }
}